.container{
    background-color: aqua;
    height: 400px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.item{
    width: 90px;
    background-color: bisque;
}
